<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    <main>
    <nav><img src="images/paws.png" alt=""><p>Pup-E-Harmony</p><a class="one" href="/puppies"><img src="images/heart.png" class="heart"></a><a class="two" href="/puppies/new" alt="New Match">+❤</a><a class="three" href="/auth/google">Login with Google</a>
    </main>
</body>
</html>