nav {
    background-image: linear-gradient(to bottom right, #ff8297, #ff9e80, #ff8800);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 15vmin auto 10vmin 10vmin 15vmin;
}

a.one {
    text-decoration: none;
    color: black;
    border: 3px solid white;
    grid-column-start: 3;
    margin: 10px;
    text-align: center;
    border-radius: 50px;
    font-size: 40px;
    padding-top: 10px;
}

a.one:hover {
    color: white;
}

a.two {
    text-decoration: none;
    color: black;
    border: 3px solid white;
    grid-column-start: 4;
    margin: 10px;
    text-align: center;
    border-radius: 50px;
    font-size: 39px;
    padding-top: 10px;
}

a.two:hover {
    color: green;
    border: 3px solid green;
}

a.three {
    text-decoration: none;
    color: black;
    grid-column-start: 5;
    margin: 4px;
    text-align: center;
    border-radius: 50px;
    font-size: 15px;
    padding-top: 15px;
}

a.three:hover {
    color: white;
}

img {
    width: 55px;
    height: 55px;
    margin: 4px;
    align-self: center;
}

p {
    font-size: 28px;
}